body, html {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgba(200,0,0,0.5), rgba(200,50,100,1));
  height: 100%;
}

.logo {
  background-image: url('img/shoes1.jpg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
